*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-sizing: normal;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
optgroup,
select {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
    max-width: 100%;
}

img {
    border-style: none;
}

img,
svg,
video,
canvas {
    height: auto;
}

audio {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

address,
caption,
cite,
code,
dfn,
th {
    font-weight: normal;
    font-style: normal;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
    white-space: pre-wrap;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
